* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --bordo: #8C1414;
  --lightbordo: #e96565;
  --darkbordo: #460909;
  --antibordo: #138c8c;
}
body {
  font-family: sans-serif;
  background: var(--antibordo);
}

/* TOP BAR */
.top-bar {
  width: 100%;
  background: var(--bordo);
  text-align: center;
  font-size: 12px;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  letter-spacing: 1.5px;
  position: relative;
  top: 0;
  z-index: 30;
  color: white;
}

/* HEADER */
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px 20px;
  color: white;
  font-size: 12px;
  font-weight: 300;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  /* border-bottom: 1px solid #ddd; */
}
.nav-left,
.nav-right {
  display: flex;
  gap: 25px;
}
header a {
  color: white;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.logo {
  height: 50px;
}

/* HERO */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  z-index: 0;
  border-bottom: 10px solid var(--bordo);
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("assets/backgroundKILL.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(0.6);
  z-index: -1;
  pointer-events: none;
}

.hero > * {
  position: relative;
  z-index: 1;
}
.hero-title {
  font-size: 32px;
  margin-bottom: 25px;
}
.hero button {
  padding: 12px 35px;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 999px;
  z-index: 1;
  transition: color 0.25s linear, transform 0.25s ease;
  transform-origin: center;
}

.hero button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--bordo);
  border-radius: 999px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.25s cubic-bezier(0.2, 0.9, 0.2, 1);
  z-index: -1;
  pointer-events: none;
}

.hero button:hover::before {
  transform: scaleX(1);
}

.hero button:hover {
  /* color: black; */
  transform: scale(1.05);
}

/* NAV UNDERLINE ANIMATION */
header a {
  position: relative;
  padding-bottom: 3px;
}
header a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0;
  height: 1px;
  background: white;
  transition: 0.3s ease;
  transform: translateX(-50%);
}
header a:hover::after {
  width: 80%;
}

/* MAIN */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  padding: 50px;
}
.product {
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 5px 10px rgba(146, 27, 19, 1);
  transition: 0.2s;
}

.product:hover {
  transform: translateY(-4px);
}
.product img {
  width: 100%;
  border-radius: 10px;
}
.product h3 {
  margin: 10px 0 5px;
}
.product p {
  margin: 0;
  font-weight: 600;
}
.product .price {
  color: var(--bordo);
  font-weight: 700;
  margin-top: 8px;
}

.actions button {
  background-color: #25D366;
  border: none;
  border-radius: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 15px;
  padding: 10px;
  cursor: pointer;
  color: white;
}

.fa-whatsapp {
  font-size: 25px;
}