/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --base: #000000;
  --bg: #fcf8ed;
}

/* BODY */
body {
  background: var(--bg);
  font-family: sans-serif;
}

/* ------------------------------ */
/* --------- MOBILE HEADER ------ */
/* ------------------------------ */

.header-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(6px);
  z-index: 1000;
}

.logo-mobile {
  height: 50px;
}

.menu-btn {
  width: 30px;
  height: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menu-btn span {
  width: 100%;
  height: 3px;
  background: rgb(255, 255, 255);
  border-radius: 3px;
  transition: 0.25s;
}

/* Animación X */
.menu-btn.active span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.menu-btn.active span:nth-child(2) {
  opacity: 0;
}

.menu-btn.active span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

/* Overlay */
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  inset: 0;
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
  background: transparent;
  /* backdrop-filter: blur(2px); */
  pointer-events: auto;
}

.menu-overlay.show {
  opacity: 1;
  pointer-events: auto;
  z-index: 9998;
}
 /* TODO */
.menu-overlay.show .hero {
  pointer-events: none;
  display: none;
}

/* Slide Menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: -70%;
  width: 70%;
  height: 100%;
  background: #111;
  padding: 80px 25px;
  transition: 0.3s;
}

.mobile-menu.show {
  left: 0;
}

.mobile-menu ul li {
  margin-bottom: 22px;
}

.mobile-menu ul li a {
  color: var(--bg);
  font-size: 18px;
  text-decoration: none;
}

.right-icons {
  width: 28px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--bg);
}

.right-icons .fa-regular,
.right-icons i {
  font-size: 20px;
  transition: transform 0.25s ease, color 0.2s ease;
}

.right-icons:hover {
  transform: scale(1.05);
}

.right-icons:active {
  transform: scale(0.98);
}

.header-mobile,
.header-desktop {
  z-index: 10000 !important;
}

/* ------------------------------ */
/* -------- DESKTOP HEADER ------ */
/* ------------------------------ */

.header-desktop {
  display: none;
}

@media (min-width: 900px) {
  .header-mobile {
    display: none;
  }

  .header-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), transparent);
    z-index: 50;
  }

  .header-desktop a {
    color: var(--bg);
    text-decoration: none;
    position: relative;
    padding-bottom: 4px;
  }

  /* underline desde el centro */
  .header-desktop a::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 0;
    height: 1px;
    bottom: -3px;
    background: white;
    transform: translateX(-50%);
    transition: 0.3s;
  }

  .header-desktop a:hover::after {
    width: 80%;
  }

  .nav-left,
  .nav-right {
    display: flex;
    gap: 25px;
  }

  .logo {
    height: 50px;
  }
}

/* ------------------------------ */
/* -------- HERO ---------------- */
/* ------------------------------ */

.hero {
  /* margin-top: 55px; */
  height: 70vh;
  background-image: url("assets/bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--bg);
  text-align: center;
  position: relative;
  z-index: 1;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, .6);
  z-index: 0;
  pointer-events: none;
}

.hero-title {
  font-size: 26px;
  margin-bottom: 20px;
  letter-spacing: 3px;
  z-index: 2;
}
.hero > * {
  position: relative;
  z-index: 1;
}
.hero a {
  padding: 10px 32px;
  border: 2px solid white;
  background: transparent;
  color: var(--bg);
  border-radius: 999px;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: bold;
  z-index: 1;
  transition: color 0.25s linear, transform 0.25s ease;
  transform-origin: center;
  text-decoration: none;
}
.hero a::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--bg);
  border-radius: 999px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.25s cubic-bezier(0.2, 0.9, 0.2, 1);
  z-index: -1;
  pointer-events: none;
}
.hero a:hover::before {
  background: var(--bg);
  transform: scaleX(1);
}

.hero a:hover {
  color: black;
  transform: scale(1.15);
}

/* ------------------------------ */
/* ---- PRODUCT GRID (Nude) ----- */
/* ------------------------------ */

.products {
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.product-card {
  background: white;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 2px 8px black;
  transition: 0.25s;
}

.product-card:hover {
  transform: translateY(-4px);
}

.img-container {
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
}

.img-container img {
  width: 100%;
  transition: 0.3s;
}

.product-card:hover img {
  transform: scale(1.05);
}

.product-card h3 {
  margin-top: 12px;
  font-size: 17px;
}

.price {
  margin-top: 6px;
  color: var(--base);
  font-weight: bold;
  font-size: 18px;
}

.buy-btn {
  margin-top: 12px;
  width: 100%;
  border: none;
  background: #1fa851;
  padding: 12px;
  border-radius: 10px;
  color: var(--bg);
  cursor: pointer;
  font-size: 15px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

@media (min-width: 900px) {
  .products {
    grid-template-columns: repeat(4, 1fr);
    padding: 50px;
    gap: 45px;
  }
}
